{% layout "layout.liquid" %} {% block content %}

<form action="/entry/{{ item._id }}?_method=PUT" method="post">
  Jornal entry: <input type="text-area" name:"jornalEntry" />
  <input type="submit" />
</form>
{% endblock %}
