<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
    />

    <!-- Milligram CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"
    />

    <!-- Jquery -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/a2310eeb25.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <!-- <script src="/app.js"></script> -->
    <link rel="stylesheet" href="/style2.css" />
    <title>Fashion Journal</title>
  </head>
  <body>
    <header>
      <img src="https://i.imgur.com/juJp3g5.png" alt="" />
      <i class="fas fa-bars"></i>
    </header>
    <nav class="navigation menu">
      <ul>
        <li>
          <a href="user/signup">Create an account</a>
        </li>
        <li>
          <a href="user/login">Login</a>
        </li>
        <li><a href="/entry">view entries</a></li>
      </ul>
      <button class="close">close</button>
    </nav>

    <main class="layout">
      <h2>Welcome to Fashion Entries</h2>
      <h3>Login or Signup to get started</h3>
      <p>
        This is an application to keep track of your fashion needs and want.
      </p>
      <img src="https://i.imgur.com/vRNAaO7.png" alt="Index page after login" />
      <img
        src="https://i.imgur.com/zhpnWFU.png"
        alt="Show route after clicking on an item"
      />
    </main>
    <footer>
      <div class="nav">
        <h3>Navigation</h3>
        <ul>
          <li>
            <a href="user/signup">Create an account</a>
          </li>
          <li>
            <a href="user/login">Login</a>
          </li>
          <li><a href="/entry">view entries</a></li>
        </ul>
      </div>
      <div class="nav">
        <h3>Bulit with</h3>
        <ul>
          <li>Mongo</li>
          <li>Express</li>
          <li>Html</li>
          <li>Css</li>
          <li>Jquery</li>
        </ul>
      </div>
      <div class="nav">
        <h3>Find Faith on</h3>
        <ul>
          <li>
            <a
              href="https://www.linkedin.com/in/faith-musa-079b75212?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BqxK0XkoTTWecFe2wK%2F3Z2Q%3D%3D"
              >LinkedIn</a
            >
          </li>
          <li><a href="https://github.com/FAITHM1">Github</a></li>
        </ul>
      </div>
    </footer>
    <script>
      const $menu = $(".menu");

      $(".fa-bars").on("click", (event) => {
        $(".menu").css("display", "block");
      });
      $(".close").on("click", (event) => {
        $(".menu").css("display", "none");
      });
    </script>
  </body>
</html>
